apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: api-gateway
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "4000"
            - name: AUTH_URL
              value: "http://auth-svc:4003"
            - name: PAYMENT_URL
              value: "http://payment-svc:4001"
            - name: BUDGET_URL
              value: "http://budget-svc:4002"
          ports:
            - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-svc
spec:
  selector:
    app: gateway
  ports:
    - name: http
      port: 4000
      targetPort: 4000
