apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: payment-service
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "4001"
            - name: REDIS_URL
              value: "redis://redis:6379"
            - name: KAFKA_BROKERS
              value: "kafka:9092"
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
          ports:
            - containerPort: 4001
---
apiVersion: v1
kind: Service
metadata:
  name: payment-svc
spec:
  selector:
    app: payment
  ports:
    - name: http
      port: 4001
      targetPort: 4001
